[Unit]
Description=V4L2 RTSP Server
After=network.target
BindsTo=dev-video0.device
After=dev-video0.device

[Service]
Type=simple
Restart=always
RestartSec=30
EnvironmentFile=/usr/local/etc/v4l2rtspserver.env
ExecStart=/usr/local/bin/v4l2rtspserver "$ARGS"
WorkingDirectory=/usr/local/share/v4l2rtspserver

[Install]
WantedBy=multi-user.target