# Used to configure embyserver container via embyserver.service
ARGS="--name embyserver \
    --volume emby_config:/config \
    --volume {{ media_path }}:/mnt/{{ media_lib }} \
    --device /dev/dri:/dev/dri \
    --device /dev/vchiq:/dev/vchiq \
    --publish 8096:8096 \
    --env UID=1002 \
    --env GID=1002 \
    --env GIDLIST=100"

IMAGE="docker.io/emby/embyserver_arm64v8"
