[Unit]
Description=Emby Media Server
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=0
Restart=on-failure
EnvironmentFile=/usr/local/etc/embyserver.env
ExecStartPre-=/bin/podman rm -fi embyserver
ExecStartPre-=/bin/podman pull $IMAGE
ExecStart=/bin/podman run $ARGS $IMAGE
ExecStop=/bin/podman stop embyserver

[Install]
WantedBy=multi-user.target
