# /usr/etc/motion/camera1.conf
#

###########################################################
# Configuration options specific to camera 1
############################################################
# User defined name for the camera.
camera_name {{ rtsp1.name }}

# Numeric identifier for the camera.
camera_id 1

# The full URL of the network camera stream.
netcam_url rtsp://{{ rtsp1_ipv4 }}:{{ rtsp1.port }}/{{ rtsp1.name }}
# video_device /dev/video1

# Image width in pixels.
width 1280

# Image height in pixels.
height 720

# Text to be overlayed in the lower left corner of images
text_left {{ rtsp1.name }}

target_dir {{ motion_server.videos_dir }}/{{ rtsp1.name }}

# File name(without extension) for movies relative to target directory
movie_filename {{ rtsp1.name }}_%t-%v-%Y%m%d%H%M%S
